[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/eigenlayer-middleware"]
	path = contracts/lib/eigenlayer-middleware
	url = https://github.com/layr-Labs/eigenlayer-middleware
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/standard3.0-contracts"]
	path = lib/standard3.0-contracts
	url = https://github.com/standardweb3/standard3.0-contracts
[submodule "contracts/lib/standard3.0-contracts"]
	path = contracts/lib/standard3.0-contracts
	url = https://github.com/standardweb3/standard3.0-contracts
